* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

#slider {
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.slides {
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
  height: 530px;
}

.slides .img {
  display: flex;
  flex-direction: row; /* Добавляем направление столбцом для подтекста */
  align-items: center; /* Выравнивание по центру */
  transition: transform 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slides .img article {
  flex: 0 0 100%;
  position: relative;
  margin-bottom: 20px; /* Добавляем отступ между изображением и подтекстом */
}

img {
  width: 100%;
  height: auto;
}

.caption {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #000000;
  font-size: 18px;
  text-align: end;
}

/* Показываем подтекст при наведении на изображение */
.slides .img article:hover .caption {
  opacity: 1;
}

#active {
  margin-top: 10px;
  text-align: center;
}

#active label {
  cursor: pointer;
  border-radius: 50%;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #bbb;
  margin: 0 5px;
  transition: background-color 0.2s ease;
}

#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4) {
  background: #18a3dd;
}

#switch1:checked ~ .slides .img {
  transform: translateX(0%);
}
#switch2:checked ~ .slides .img {
  transform: translateX(-100%);
}
#switch3:checked ~ .slides .img {
  transform: translateX(-200%);
}
#switch4:checked ~ .slides .img {
  transform: translateX(-300%);
}

.switch-slider {
  display: none;
}

/* Добавляем медиа-запрос для изменения ширины слайдера на более узких экранах */
@media screen and (max-width: 768px) {
  .slides {
    width: 100%;
  }
}
